* {
  margin: 0;
  padding: 0;
}
.header {
  height: 85px;
  background: rgb(242, 39, 39);
  position: fixed;
  top: 0; 
  width: 100%;
  z-index: 9999;
}
.header-mobile {
  display: none;
}
.content-h {
  margin: 0 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-h img {
  width: 80px;
  height: 70px;
  border-radius: 50%;
}

input::placeholder {
  color: red;
}
.content-h ul a {
  text-decoration: none;
  font-size: 19px;
  color: white;
  padding: 0 10px;
}
.content-h ul .kontakt {
  text-decoration: underline;
}
.form {
  margin-top: 85px;
  height: 80vh;
}
.content-f {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 100px 150px;
}
.content-f input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.content-f input[type="submit"] {
  background-color: rgb(242, 39, 39);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.footer {
  height: 15vh;
  background: rgb(242, 39, 39);
  background: linear-gradient(
    to bottom,
    rgb(242, 39, 39, 0.1),
    rgb(242, 39, 39)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 22, 22);
}
.content-h .inputi {
  width: 450px;
  height: 40px;
  border: none;
  padding: 0 20px;
  font-size: 19px;
  border-radius: 20px;
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .video-container {
    display: none;
  }
  .footer{
    height: 50px;
    font-size: 9px;
   }
  .header-mobile {
    display: block;
    background: rgb(242, 39, 39);
    height: 50px;
    color: white;
  }
  .content-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
  }
  .content-mobile a {
    text-decoration: none;
    color: white;
  }
  .content-mobile img {
    width: 40px;
    margin-top: 5px;
    border-radius: 50%;
  }
  svg {
    color: white;
  }
  .menu-mobile {
    background-color: rgb(248, 246, 244);
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    height: 195px;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
  }
  .menu-mobile input[type="search"] {
    width: 300px;
    height: 25px;
    margin-left: 50px;
    margin-top: 10px;
    border-color: red;
    background-color: white;
    padding-left: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  ul a {
    text-decoration: none;
    color: rgb(242, 39, 39);
    padding: 4px 0;
  }
  .paneli{
    border: 1px solid red;
    width: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  ul .logimi {
    width: 50px;
    border: 1px solid white;
    padding: 2px 3px;
    background: black;
    color: white;
    border-radius: 5px;
  }
  ul .logimi:hover {
    background: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    border: 2px solid black;
  }
  .visible {
    display: block;
  }
  .form{
    margin: 0;
  }
  .content-f{
    margin: 0 20px;
  }
}