* {
  margin: 0;
  padding: 0;
}
.header-mobile {
  display: none;
}
.header {
  height: 85px;
  width: 100%;
  background: rgb(242, 39, 39);
  position: fixed;
  top: 0;
  z-index: 9999;
}
.content-h {
  margin: 0 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-h img {
  width: 80px;
  height: 70px;
  border-radius: 50%;
}
.content-h ul .home {
  border-bottom: 2px solid white;
}
.home .bi {
  padding-left: 5px;
}
.content-h input {
  width: 450px;
  height: 40px;
  border: none;
  padding: 0 20px;
  font-size: 19px;
  border-radius: 20px;
}
input::placeholder {
  color: red;
}
.content-h ul a {
  text-decoration: none;
  font-size: 19px;
  color: white;
  padding: 0 10px;
}
.content-h .user {
  border: 2px solid white;
  padding: 7px 5px;
}
.video-container {
  height: calc(100vh-85px);
}
.video-container video {
  width: 100%;
}
.background-mobile {
  display: none;
}
.main {
  display: flex;
  height: 120vh;
}
.content-m {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 50px;
}
.content-m .pyetjet {
  padding: 30px 30px;
  color: white;
  z-index: 1;
}
.pyetjet h1 {
  color: rgb(0, 0, 0);
}
.pyetjet p {
  font-size: 19px;
  color: rgb(84, 79, 79);
  padding: 20px 0;
}
.img-m {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 50px;
  margin-top: 140px;
  margin-bottom: 140px;
  box-shadow: 0 0 50px rgba(84, 79, 79, 0.6);
  background-color: white;
}
.img-m img {
  width: 500px;
  height: 450px;
  object-fit: contain;
  border-radius: 50%;
}
.footer {
  height: 15vh;
  background: rgb(242, 39, 39);
  background: linear-gradient(
    to bottom,
    rgb(242, 39, 39, 0.1),
    rgb(242, 39, 39)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 22, 22);
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .video-container {
    display: none;
  }
  .footer {
    height: 50px;
    font-size: 9px;
  }
  .header-mobile {
    display: block;
    background: rgb(242, 39, 39);
    height: 50px;
    color: white;
    transition: all 1s ease-in-out;
  }
  .up {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  .content-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
  }
  .content-mobile img {
    width: 40px;
    margin-top: 5px;
    border-radius: 50%;
  }
  svg {
    color: white;
  }
  .menu-mobile {
    background-color: rgb(248, 246, 244);
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
  }
  .menu-mobile input[type="search"] {
    width: 300px;
    height: 25px;
    margin-left: 50px;
    margin-top: 10px;
    border-color: red;
    background-color: white;
    padding-left: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  ul a {
    text-decoration: none;
    color: rgb(242, 39, 39);
    padding: 4px 0;
  }
  .paneli{
    border: 1px solid red;
    width: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  .menu-user{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    padding-right:10px;
  }
  ul .logimi {
    width: 50px;
    border: 1px solid white;
    padding: 2px 3px;
    background: black;
    color: white;
    border-radius: 5px;
  }
  ul .logimi:hover {
    background: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    border: 2px solid black;
  }
  .visible {
    display: block;
  }
  .background-mobile {
    display: block;
  }
  .mg-t {
    margin-top: 50px;
  }
  .background-mobile img {
    width: 100%;
    height: auto;
  }
  .main {
    height: auto;
    display: block;
  }
  .content-m {
    width: 100%;
    margin: 0;
    margin-top: 30px;
  }
  .content-m .pyetjet {
    padding: 5px 30px;
  }
  .pyetjet h1 {
    font-size: 19px;
  }
  .pyetjet p {
    font-size: 14px;
  }
  .img-m {
    width: 85%;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .img-m img {
    width: 50%;
    height: 250px;
  }
}
