* {
  margin: 0;
  padding: 0;
}
.header {
  height: 85px;
  background: rgb(242, 39, 39);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.header-mobile {
  display: none;
}
.content-h {
  margin: 0 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-h img {
  width: 80px;
  height: 70px;
  border-radius: 50%;
}
.content-h input {
  width: 450px;
  height: 40px;
  border: none;
  padding: 0 20px;
  font-size: 19px;
  border-radius: 20px;
}
input::placeholder {
  color: red;
}
.content-h ul a {
  text-decoration: none;
  font-size: 19px;
  color: white;
  padding: 0 10px;
}
.content-h ul .produktet {
  text-decoration: underline;
}
.main {
  margin: 85px;
  height: auto;
}
.content-m {
  margin-top: 135px;
  display: flex;
  flex-wrap: wrap;
  border: 5px solid rgb(167, 35, 35);
  border-radius: 20px;
}
.content-m .card-content {
  width: 400px;
  height: 550px;
  margin: 20px;
}
.card-content .image {
  height: 50%;
  width: 100%;
}
.image img {
  width: 100%;
  height: 100%;
}
.content-m .description {
  padding: 15px;
  height: calc(50% - 30px);
  color: white;
  background-color: rgb(167, 35, 35);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description h1 {
  text-decoration: underline;
  padding-bottom: 10px;
}
.description h2 {
  padding-top: 5px;
}
.description .cmimi {
  display: flex;
  justify-content: space-between;
}
.cmimi .cmimii {
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 4px;
  color: rgb(83, 78, 78);
}
.footer {
  height: 15vh;
  background: rgb(242, 39, 39);
  background: linear-gradient(
    to bottom,
    rgb(242, 39, 39, 0.1),
    rgb(242, 39, 39)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(22, 22, 22);
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .video-container {
    display: none;
  }
  .footer{
    height: 50px;
    font-size: 9px;
   }
  .header-mobile {
    display: block;
    background: rgb(242, 39, 39);
    height: 50px;
    color: white;
  }
  .content-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
  }
  .content-mobile a {
    text-decoration: none;
    color: white;
  }
  .content-mobile img {
    width: 40px;
    margin-top: 5px;
    border-radius: 50%;
  }
  svg {
    color: white;
  }
  .menu-mobile {
    background-color: rgb(248, 246, 244);
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
    height: 165px;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
  }
  .menu-mobile input[type="search"] {
    width: 300px;
    height: 25px;
    margin-left: 50px;
    margin-top: 10px;
    border-color: red;
    background-color: white;
    padding-left: 10px;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  ul a {
    text-decoration: none;
    color: rgb(242, 39, 39);
    padding: 4px 0;
  }
  ul .logimi {
    width: 90px;
    border: 1px solid white;
    padding: 2px 3px;
    background: black;
    color: white;
    border-radius: 5px;
  }
  ul .logimi:hover {
    background: rgb(252, 252, 252);
    color: rgb(0, 0, 0);
    border: 2px solid black;
  }
  .visible {
    display: block;
  }
  .main{
    margin: 20px 10px;
  }
 .content-m{
  margin: 0;
 }
 .content-m .card-content{
  height: 540px;
  margin: 20px 5px;
  border: 1px solid rgb(167, 35, 35);
 }
 .description h1{
  font-size: 22px;
  margin: 0;
 }
 .description p{
  font-size: 14px;
 }
}