* {
  margin: 0;
  padding: 0;
}
body{
    background: rgb(242, 39, 39);
}
.y{
  overflow-y: hidden;
}
.header-mobile {
  display: none;
}
.header {
  background: rgb(242, 39, 39);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  border-bottom: 1px solid white;
}
.headerminus{
  position: unset;
}
.content-h {
  margin: 0 100px;
  height: 100%;
  display: flex;
  align-items: center;
}

.content-h img {
  width: 80px;
  height: 70px;
  border-radius: 50%;
  margin: 0 10px;
}
.content-h ul .home {
  border-bottom: 2px solid white;
}
.home .bi {
  padding-left: 5px;
}
.content-h ul a {
  text-decoration: none;
  font-size: 19px;
  color: white;
  padding: 10px 25px;
  margin: 0 20px;
  border: 3px solid white;
}
.useroradmin p {
  border: 3px solid white;
  font-size: 19px;
  color: white;
  margin-right: 50px;
  padding: 10px 25px;
}
.container {
    height: auto;
    width: 100%;
    margin: 105px 0;
    /* margin: 20px 0; */
}
.containerminus{
  margin: 20px 0;
}
.table{
    height: auto;
    margin: 0 50px;
    border: 3px solid white;
  }
.colums{
    display: flex;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    align-items: center;
    justify-content: space-around;
    margin: 20px 10px;
    font-size: 17px;
 }
.colums p{
    width: 14.2%;
    border: 1px solid white;
    text-align: center; 
    margin: 5px 0;
}

.i{
    font-size: 22px;
    background:white ;
    text-decoration: underline;
    padding: 10px 0;
    color: rgb(150, 26, 26);
    position: sticky;
    top: 100px;
}
.colums .butonat a{
    padding: 0 10px;
    text-decoration: none;
    margin: 5px 0;
    background: blue;
    border: 1px solid white;
    color: rgb(255, 255, 255);
}
.modal{
display: none;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, .5);
}
.content-m{
width: 500px;
height: 500px;
max-height: 500px;
background-color: white;
border-radius: 5px;
}
.coment-m{
margin: 20px;
display: flex;
align-items:start;
flex-direction: column;
width: 100%;
}

.coment-m p{
padding: 10px 0;
color:rgb(242, 39, 39) ;
font-size: 24px;
}
.coment-m span{
padding-right:15px;
color: black;
}
.coment-m .x{
position: relative;
top: -10;
left: 87%;
padding: 0 10px;
background-color: rgb(242, 39, 39);
color: white;
cursor: pointer;
}
@media screen and (max-width: 767px) {
.header{
 display: none;
}
.header-mobile {
  display: block;
  background: rgb(242, 39, 39);
  height: 50px;
  color: white;
  transition: all 1s ease-in-out;
}
/* .up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
} */
.content-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.content-mobile img {
  width: 40px;
  margin-top: 5px;
  border-radius: 50%;
}
svg {
  color: white;
}
.menu-mobile {
  background-color: rgb(248, 246, 244);
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  height: auto;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
  box-shadow: 1px 0.2 black;
}
ul {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
ul a {
  text-decoration: none;
  color: rgb(242, 39, 39);
  padding: 4px 0;
}
.useroradmin{
  border: 1px solid red;
  color: red;
  text-align: center;
  width: 150px;
  margin-bottom: 10px;
}
.visible {
  display: block;
}
.container{
  margin: 30px 0;
}
.table{
  margin: 0 10px;
}
.colums{
  font-size: 4px;
  margin: 10px 5px;
}
.i{
  position: unset;
  padding: 2px 0;
}
.colums .butonat{
  font-size: 3px;
  padding: 0;

}
.colums .descp {
  width: 80px;
  height: 10px;
  background-color: white;
  color: rgb(150, 26, 26);
  overflow-y: scroll;
  margin: 3px 2px;
  padding: 3px ;
}
}